
$reply-target-border: #FF5555   !default;
$skipped-fg:          gray      !default;
$name-link-fg:        gray      !default;
$truncated-fg:        gray      !default;

$pnum-fg:             $main-fg      !default;
$pf-body-bg:          $reply-bg     !default;
$pf-body-border:      $reply-border !default;

@import 'fonts';

html {
	background-color: $main-bg;
	color: $main-fg;
	font-family: Arial, Helvetica, sans-serif, 'DejaVu Sans';
	font-size: 13px;
	word-wrap: break-word;
}

a:link, a:visited {
	color: $link-nav-fg;
}

@if variable-exists("hr-fg") {
	hr {
		color: $hr-fg;
	}
}

.cat_contain {
	text-align: center;
}

.cat_div {
	display: inline-block;
	vertical-align: middle;
	width:  180px;
	height: 250px;
	margin:  2px;
	padding: 6px 2px;
	/* border: 1px solid #333; -- for black theme */
	overflow: hidden;
	word-wrap: break-word;
}

.cat_div:hover {
	/* margin: 0px 0px 0px 0px; */
	/* border: 2px solid #77CC99; */
}

.cat_subject {
	unicode-bidi: embed;
}

.cat_img {
	width: auto;
	height: auto;
	min-width:  40px;
	min-height: 40px;
	max-width:  170px;
	max-height: 170px;
}

.blist td {
	border: 1px solid $blist-td-border;
}

tr.blist:hover td {
	background-color: $blist-hover-bg;
}

.imgthumb {
	display: block;
}

/* >=IE10 */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.imgexp {
		/* IE hax: max-width 100% doesn't work */
		width: 100%;
	}
}

.imgexp {
	display: block;
	height: auto;
	max-width: 100%;
}

.imglink {
	display: inline-block;
}

@mixin user-select-none {
	-webkit-user-select: none;
	   -moz-user-select: none;
	 -khtml-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

label {
	/* why this isn't default? */
	/* disable selection on doubleclick */
	@include user-select-none;
}

.audioembed {
	background-size: cover;
	background-position: center;
	width: 350px;
	max-width: 100%;
	min-width: 215px;
	position: relative;
	/* margin-bottom: 4px; */ /* why this was 12 before? */
	display: inline-block;

	/* disable selection on doubleclick */
	@include user-select-none;
}

.audioembed audio {
	position: absolute;
	bottom: 0;
	width: 100%;
	max-height: 40px;
	opacity: 0.0;
	transition: all 75ms ease-out;
}

.audioembed:hover audio {
	opacity: 1.0;
}

.audioembedinner {
	width: 100%;
	padding-bottom: 100%;
}

.videoembed {
	max-width: 100%;
	max-height: 80vh;
	min-width: 250px;
}

.opinfo, .rinfo {
	margin: 2px 2px 2px 4px;
}

.opimg, .rimg {
	float: left;
	margin: 2px 12px 8px 12px;
}

.imginfo {
	margin: 0px 4px 2px 0px;
}

@mixin border-box {
	   -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.body {
	padding: 6px 32px 8px 16px;
	max-width: 100%;
	display: inline-block;
	overflow: hidden;
	white-space: pre-wrap;
	@include border-box;
}

.t_skipped {
	color: $skipped-fg;
	padding: 0px 12px 4px 16px;
}

.quote {
	color: $quote-fg;
}

a.ref:link, a.ref:visited {
	color: $link-ref-fg;
}

a.bref:link, a.bref:visited {
	color: $link-bref-fg;
	font-size: 11px;
}

.pdate {
	font-size: 12px;
	display: inline-block;
}

.reply {
	background-color: $reply-bg;
	border: 1px solid $reply-border;
	display: inline-block;
	padding: 0px 0px 0px 0px;
	max-width: 100%;
}

.reply:target {
	border: 1px solid $reply-target-border;
}

.reply-outer {
	padding: 8px 16px 0px 12px;
}

.subject {
	color: $subject-fg;
	font-weight: bold;
	unicode-bidi: embed;
	display: inline-block;
	word-break: break-all;
}

.name {
	font-weight: bold;
	unicode-bidi: embed;
	word-break: break-all;
}

span.name {
	color: $name-span-fg;
	display: inline-block;
}

a.name {
	color: $name-link-fg;
	display: inline-block;
}

.unitrip {
	color: $unitrip-fg;
	font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
	font-size: 15px;
	display: inline-block;
}

.trunc {
	color: $truncated-fg;
}

.pnum {
	display: inline-block;
}

.pnum_anchor:link, .pnum_anchor:visited, .pnum_ref:link, .pnum_ref:visited {
	color: $pnum-fg;
	text-decoration: none;
}
.pnum_anchor:hover, .pnum_ref:hover {
	color: $pnum-hover-fg;
}

div.nav {
	font-size: 14px;
}

.thread_stats {
	float: right;
}

.pf_body {
	background-color: $pf-body-bg;
	border: 1px solid $pf-body-border;
	margin: 0 auto;
}
.pf_label {
	background-color: $pf-label-bg;
}
.pf_input {
	padding: 0;
}

/* do fixed postform only if screen is wide enough */
@media screen and (min-width: 800px) {
	#postform:target {
		position: fixed;
		top: 5px;
		right: 5px;
	}
}

#message {
	@include border-box;
	width: 300px;
	min-width: 300px;
	min-height: 8em;
}

#captcha_img {
	display: block;
	margin-left:  auto;
	margin-right: auto;
}

/* breakpoint at 600px */
@media screen and (max-width: 600px) {
	.thread_stats, .opimg, .rimg {
		float: none;
	}
	.pf_body th {
		display: block;
		border: 0px;
		text-align: left;
		background-color: inherit;
	}
	.pf_input {
		display: block;
		border: 0px;
	}
	#message {
		width: 100%;
	}
	.reply-outer {
		padding-left:  0px;
		padding-right: 0px;
	}
}

.poi_area {
	display: none;
}

.poi_activator {
	margin-top:    0px;
	margin-bottom: 0px;
	margin-right:  0px;
	float: right;
}

.poi_activator:checked ~ .poi_area {
	display: block;
}

.poi_hr {
	color: $hr-poi-fg;
	margin-top:    2px;
	margin-bottom: 2px;
}

/*
 * by default don't display and activate only if browser supports
 * capability this button uses for its actions
 */
.showmorefiles {
	display: none;
}
#file:enabled ~ .showmorefiles {
	display: inline;
	float: right;
}

/*
 * if browser doesn't support capabilities we need display all;
 * else by default don't display all, but only when checkbox gets checked.
 */
.morefiles {
	display: block;
}
#showmorefiles:enabled ~ .morefiles {
	display: none;
}
#showmorefiles:checked ~ .morefiles {
	display: block;
}
