$main-bg:         #EEF2FF;
$main-fg:         black;
$blist-td-border: black;
$blist-hover-bg:  #BED2E8;
$link-nav-fg:     #1133BB;
$quote-fg:        #407F10;
$link-ref-fg:     #EF1000;
$link-bref-fg:    #004070;
$reply-bg:        #D6DAF0;
$reply-border:    #BCBCE6;
$subject-fg:      #0F0C5D;
$name-span-fg:    #117743;
$unitrip-fg:      #0055CC;
$pnum-hover-fg:   #EE2222;
$pf-label-bg:     #C6CAE0;
$hr-poi-fg:       #BCBCE6;

@import 'nksrv1';

input[type="text"], textarea {
	background-color: #F5F8FF;
	color: black;
	border: 1px solid #ABB2DA;
	padding: 1px 2px;
	outline: 0;
	/* transition: all 125ms ease-in-out; */
}
input[type="text"]:focus, textarea:focus {
	border: 1px solid #5CB0EF;
}
