$main-bg:         #101010;
$main-fg:         white;
$blist-td-border: #999;
$blist-hover-bg:  #303030;
$link-nav-fg:     #6F94FF;
$quote-fg:        #95D564;
$link-ref-fg:     #F66;
$link-bref-fg:    #589ADD;
$reply-bg:        #222;
$reply-border:    #484848;
$subject-fg:      #807CE1;
$name-span-fg:    #59bf8b;
$unitrip-fg:      #61F73C;
$pnum-hover-fg:   #EE2222;
$pf-label-bg:     #C6CAE0;
$hr-fg:           #5d5d9d;
$hr-poi-fg:       #BCBCE6;

@import 'nksrv1';
