$main-bg:         #e2f9db;
$main-fg:         black;
$blist-td-border: black;
$blist-hover-bg:  #afcfa6;
$link-nav-fg:     #1133BB;
$quote-fg:        #407F10;
$link-ref-fg:     #EF1000;
$link-bref-fg:    #004070;
$reply-bg:        #CAE9CA;
$reply-border:    #ADE1C2;
$subject-fg:      #0F0C5D;
$name-span-fg:    #117743;
$unitrip-fg:      #0055CC;
$pnum-hover-fg:   #EE2222;
$pf-label-bg:     #c7efbc;
$hr-poi-fg:       #BCBCE6;

@import 'nksrv1';

input[type="text"], textarea {
	background-color: #eaffe4;
	color: black;
	border: 1px solid #74B68F;
	padding: 1px 2px;
	/* transition: all 125ms ease-in-out; */
}
input[type="text"]:focus, textarea:focus {
	border: 1px solid #55FF55;
}
