$main-bg:        #cfefc6;
$main-fg:        black;
$blist-hover-bg: #afcfa6;
$link-nav-fg:    #1133BB;
$quote-fg:       #407F10;
$link-ref-fg:    #EF1000;
$link-bref-fg:   #004070;
$reply-bg:       #DDFFDD;
$reply-border:   #99EEBB;
$subject-fg:     #0F0C5D;
$name-span-fg:   #117743;
$unitrip-fg:     #0055CC;
$pnum-hover-fg:  #EE2222;
$pf-label-bg:    #C6CAE0;
$hr-poi-fg:      #BCBCE6;

@import 'nksrv1';
