
@font-face {
	font-family: 'DejaVu Sans';
	font-style: normal;
	font-weight: normal;
	src:
		local("DejaVu Sans"),
		url("fonts/dejavu-2.37/DejaVuSans.woff2") format("woff2"),
		url("fonts/dejavu-2.37/DejaVuSans.woff")  format("woff");
	font-display: swap;
}

@font-face {
	font-family: 'DejaVu Sans';
	font-style: normal;
	font-weight: bold;
	src:
		local("DejaVu Sans"),
		url("fonts/dejavu-2.37/DejaVuSans-Bold.woff2") format("woff2"),
		url("fonts/dejavu-2.37/DejaVuSans-Bold.woff")  format("woff");
	font-display: swap;
}

html {
	font-family: Arial, Helvetica, sans-serif, 'DejaVu Sans';
	font-size: 13px;
	background-color: #EEF2FF;
	word-wrap: break-word;
}

a:link, a:visited {
	color: #1133BB;
}

.cat_div {
	float: left;
	text-align: center;
	width:  180px;
	height: 250px;
	/* background-color: #EEFFDD; */
	margin:  2px 2px 2px 2px;
	padding: 4px 2px 4px 2px;
	/* border: 1px solid #EE6666; */
	overflow: hidden;
	word-wrap: break-word;
}

.cat_div:hover {
	/*
	margin: 0px 0px 0px 0px;
	border: 2px solid #77CC99;
	*/
}

.cat_subject {
	unicode-bidi: embed;
}

.cat_img {
	width: auto;
	height: auto;
	min-width:  40px;
	min-height: 40px;
	max-width:  170px;
	max-height: 170px;
}

.blist td {
	border:1px solid;
}

tr.blist:hover td {
	background-color: #BED2E8;
}

.imgthumb {
	display: block;
}

.imgexp {
	display: block;
	height: auto;
	max-width: 100%;
}

.imglink {
	display: inline-block;
}

label {
	/* why this isn't default? */
	/* disable selection on doubleclick */
	-webkit-user-select: none;
	   -moz-user-select: none;
	 -khtml-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

.audioembed {
	background-size: cover;
	background-position: center;
	width: 350px;
	max-width: 100%;
	min-width: 215px;
	position: relative;
	margin-bottom: 12px;

	/* disable selection on doubleclick */
	-webkit-user-select: none;
	   -moz-user-select: none;
	 -khtml-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

.audioembed audio {
	position: absolute;
	bottom: 0;
	width: 100%;
	max-height: 40px;
	opacity: 0.0;
	transition: all 75ms ease-out;
}

.audioembed:hover audio {
	opacity: 1.0;
}

.audioembedinner {
	width: 100%;
	padding-bottom: 100%;
}

.videoembed {
	max-width: 100%;
	max-height: 80vh;
	min-width: 250px;
}

.opinfo, .rinfo {
	margin: 2px 2px 2px 4px;
	/* background-color: #FFCCCC; */
}

.opimg, .rimg {
	float: left;
	/* background-color: #DDFFCC; */
	margin: 2px 12px 8px 12px;
}

.imginfo {
	margin: 0px 4px 2px 0px;
	/* background-color: #CCCCFF; */
}

.body {
	/* background-color: #FFFFCC; */
	padding: 6px 32px 8px 16px;
	max-width: 100%;
	display: inline-block;
	overflow: hidden;

	   -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.t_skipped {
	color: gray;
	padding: 0px 12px 4px 16px;
}

.quote {
	color: #407F10;
}

a.ref:link, a.ref:visited {
	color: #EF1000;
}

a.bref:link, a.bref:visited {
	color: #004070;
	font-size: 11px;
}

.pdate {
	font-size: 12px;
	display: inline-block;
}

.reply {
	display: inline-block;
	background-color: #D6DAF0;
	border: 1px solid #BCBCE6;
	padding: 0px 0px 0px 0px;
	max-width: 100%;
}

.reply:target {
	border: 1px solid #FF5555;
}

.reply-outer {
	padding: 8px 16px 0px 8px;
}

.subject {
	color: #0F0C5D;
	font-weight: bold;
	unicode-bidi: embed;
	display: inline-block;
}

.name {
	font-weight: bold;
	unicode-bidi: embed;
}

span.name {
	color: #117743;
	display: inline-block;
}

a.name {
	color: gray;
}

.unitrip {
	color: #0055CC;
	font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
	font-size: 15px;
	display: inline-block;
}

.trunc {
	/* background-color: #CCEEBB; */
	color: gray;
}

.pnum {
	display: inline-block;
}

.pnum_anchor:link, .pnum_anchor:visited, .pnum_ref:link, .pnum_ref:visited {
	color:black;
	text-decoration: none;
}
.pnum_anchor:hover, .pnum_ref:hover {
	color:#EE2222;
}

div.nav {
	font-size: 14px;
}

.thread_stats {
	float: right;
}

.pf_body {
	margin: 0 auto;
	background-color: #D6DAF0;
	border: 1px solid #BCBCE6;
}
.pf_label {
	background-color: #C6CAE0;
}
.pf_input {
	padding: 0;
}

/* do fixed postform only if screen is wide enough */
@media screen and (min-width: 800px) {
	#postform:target {
		position: fixed;
		top: 5px;
		right: 5px;
	}
}

#message {
	box-sizing: border-box;
	width: 300px;
	min-width: 300px;
	min-height: 8em;
}

#captcha_img {
	display: block;
	margin-left:  auto;
	margin-right: auto;
}

/* breakpoint at 600px */
@media screen and (max-width: 600px) {
	.thread_stats, .opimg, .rimg {
		float: none;
	}
	.pf_body th {
		display: block;
		border: 0px;
		text-align: left;
		background-color: inherit;
	}
	.pf_input {
		display: block;
		border: 0px;
	}
	#message {
		width: 100%;
	}
	.reply-outer {
		padding-left:  0px;
		padding-right: 0px;
	}
}

.poi_area {
	display: none;
}

.poi_activator {
	margin-top:    0px;
	margin-bottom: 0px;
	margin-right:  0px;
	float: right;
}

.poi_activator:checked ~ .poi_area {
	display: block;
}

.poi_hr {
	color: #BCBCE6;
	margin-top:    2px;
	margin-bottom: 2px;
}

/*
 * by default don't display and activate only if browser supports
 * capability this button uses for its actions
 */
.showmorefiles {
	display: none;
}
#file:enabled ~ .showmorefiles {
	display: inline;
	float: right;
}

/*
 * if browser doesn't support capabilities we need display all;
 * else by default don't display all, but only when checkbox gets checked.
 */
.morefiles {
	display: block;
}
#showmorefiles:enabled ~ .morefiles {
	display: none;
}
#showmorefiles:checked ~ .morefiles {
	display: block;
}
