
/* try out random font I found while browsing lobste.rs */

@font-face {
	font-family: 'Inter UI';
	font-style: normal;
	font-weight: normal; /* 400 */
	src:
		url("Inter-UI-Regular.woff2") format("woff2"),
		url("Inter-UI-Regular.woff") format("woff");
}

@font-face {
	font-family: 'Inter UI';
	font-style:  normal;
	font-weight: bold; /* 700 */
	src:
		url("Inter-UI-Bold.woff2") format("woff2"),
		url("Inter-UI-Bold.woff") format("woff");
}

html {
	font-family: 'Inter UI', Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-feature-settings: "zero";
	background-color: #C5EFCF;
	word-wrap: break-word;
}

.cat_div {
	float: left;
	text-align: center;
	width: 180px;
	height: 250px;
	background-color: #EEFFDD;
	margin: 1px 1px 1px 1px;
	padding: 4px 2px 4px 2px;
	border: 1px solid #EE6666;
	overflow: hidden;
	word-wrap: break-word;
}

.opinfo, .rinfo {
	margin: 2px 4px 0px 4px;
	/* background-color: #FFCCCC; */
}

.opimg, .rimg {
	float: left;
	/* background-color: #DDFFCC; */
	margin: 2px 8px 8px 12px;
}

.imginfo {
	margin: 0px 8px 2px 0px;
	/* background-color: #CCCCFF; */
}

.body {
	/* background-color: #FFFFCC; */
	padding: 8px 32px 12px 16px;
	max-width: 100%;
	display: inline-block;

	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.quote {
	color: green;
}

.ref {
	color: red;
}

.bref {
	color: red;
	font-size: 11px;
}

.reply {
	display: inline-block;
	background-color: #DDFFDD;
	border: 1px solid #99EEBB;
	padding: 0px 0px 0px 0px;
	max-width: 100%;
}

.reply-outer {
	padding: 8px 16px 0px 8px;
}

.subject {
	color: #0F0C5D;
	font-weight: bold;
}

.name {
	color: #117743;
	font-weight: bold;
}

.trunc {
	/* background-color: #CCEEBB; */
	color: gray;
}

.thread_stats {
	float: right;
}

/* breakpoint at 600px */
@media screen and (max-width: 600px) {
	.thread_stats, .opimg, .rimg {
		float: none;
	}
	.pf_row {
	}
	.pf_label {
		display: block;
		border: 0px;
		text-align: left;
	}
	.pf_input {
		display: block;
		border: 0px;
	}
	.reply-outer {
		padding-left: 0px;
		padding-right: 0px;
	}
}

#message {
	width: 100%;
	box-sizing: border-box;
}

/*
 * by default don't display and activate only if browser supports
 * capability this button uses for its actions
 */
.showmorefiles {
	display: none;
}
#file:enabled ~ .showmorefiles {
	display: inline;
	float: right;
}

/*
 * if browser doesn't support capabilities we need display all;
 * else by default don't display all, but only when checkbox gets checked.
 */
.morefiles {
	display: block;
}
#showmorefiles:enabled ~ .morefiles {
	display: none;
}
#showmorefiles:checked ~ .morefiles {
	display: block;
}
