html {
	font-family: Arial, Helvetica, sans-serif;
}

.cat_div {
	float: left;
	text-align: center;
	width: 180px;
	height: 250px;
	background-color: #EEFFDD;
	margin: 2px 2px 2px 2px;
	padding: 4px 1px 4px 1px;
	border: 1px solid #EE6666;
	overflow: hidden;
}

.opinfo, .rinfo {
	margin: 0px 0px 0px 0px;
	background-color: #FFCCCC;
}

.opinfo {
	margin: 8px 0px 0px 0px;
}

.opimg, .rimg {
	float: left;
	background-color: #DDFFCC;
	margin: 0px 5px 0px 0px;
}

.imginfo {
	margin: 0px 0px 0px 0px;
	background-color: #CCCCFF;
}

.body {
	background-color: #FFFFCC;
	margin: 0px 0px 0px 12px;
}

.quote {
	color: green;
}

.ref {
	color: red;
}

.reply {
	display: inline-block;
	background-color: #CCEEFF;
	border: 1px dotted blue;
	margin: 12px 16px 0px 8px;
	padding: 0px 0px 6px 0px;
}

.reply-outer {
}

.subject {
	color: #0F0C5D;
	font-weight: bold;
}

.name {
	color: #117743;
	font-weight: bold;
}

.trunc {
	background-color: #CCEEBB;
}

/*
 * by default don't display and activate only if browser supports
 * capability this button uses for its actions
 */
.showmorefiles {
	display: none;
}
#file:enabled ~ .showmorefiles {
	display: inline;
	float: right;
}

/*
 * if browser doesn't support capabilities we need display all;
 * else by default don't display all, but only when checkbox gets checked.
 */
.morefiles {
	display: block;
}
#showmorefiles:enabled ~ .morefiles {
	display: none;
}
#showmorefiles:checked ~ .morefiles {
	display: block;
}
