<h1>
 <p
  style="text-align: center;"
 >/{{html $.D.Board.Name}}/{{if $.D.Board.Description}} - {{html $.D.Board.Description}}{{end}}</p>
</h1>
{{if $.D.Board.Info -}}
 <p style="text-align: center;">{{html $.D.Board.Info}}</p>
{{- end}}
