{{/*

args map:
	"root" - root
	"board" - board
	"thread" - thread (optional)

*/ -}}

{{$X := $.root -}}
{{$B := $.board -}}
{{$T := $.thread -}}


<form
 action="{{$X.N.PRoot}}/_post"
 method="POST"
 enctype="multipart/form-data"
 accept-charset="UTF-8"
>
 <input name="board" type="hidden" value="{{$B}}" />
 {{if $T -}}
 <input name="thread" type="hidden" value="{{$T}}" />
 {{end -}}

 <table border="1" style="margin: 0 auto;">
  <tr>
   <th><label for="name">Name</label></th>
   <td><input
    name="name"
    id="name"
    type="text"
    placeholder="Anonymous"
   /></td>
  </tr>
  <tr>
   <th><label for="title">Subject</label></th>
   <td><input
    name="title"
    id="title"
    type="text"
   /></td>
  </tr>
  <tr>
   <th><label for="message">Comment</label></th>
   <td><textarea
    name="message"
    id="message"
    rows="6"
    cols="45"
   ></textarea></td>
  </tr>
  <tr>
   <th><label for="file">File(s)</label></th>
   <td>
    {{- range $i, $v := emptylist 5 -}}
     {{if ne $i 0 -}}
     <div class="morefiles">
     {{end -}}
     <input
      type="file"
      name="file{{if ne $i 0}}{{add_i $i 1}}{{end}}"
      {{if eq $i 0 -}}
      id="file"
      {{end -}}
      multiple="1"
     />
     {{if eq $i 0 -}}
      <input
       type="checkbox"
       id="showmorefiles"
       class="showmorefiles"
      /><label
       for="showmorefiles"
       class="showmorefiles"
      >More</label>
     {{else}}
     </div>
     {{end -}}
    {{- end -}}
   </td>
  </tr>
  <tr>
   <th></th>
   <td><div
    style="text-align: right"
   ><input
    type="submit"
    value="Post"
   /></div></td>
  </tr>
 </table>
</form>
