{{/*

navigation (top and bottom) of thread

arguments list:
  root
  0 if top, 1 if bottom

*/ -}}

{{$X := index $ 0 -}}
{{$B := index $ 1 -}}

<nav class="nav">
 <div class="nav">
  [<a href="../">Return</a>][<a href="../catalog">Catalog</a>][<a href="">Update</a>]
  <div style="float: right;">
   {{- with $X.D.ThreadStats -}}
    <span title="Replies">R: {{.NumReplies}}</span> /
    <span title="Attachments">A: {{.NumFiles}}</span> /
    <span title="Page">P: {{add_u32 .PageNum 1}}</span>
   {{- end -}}
  </div>
 </div>
</nav>
