{{/*

navigation (top and bottom) of thread_list_page

arguments list:
  root
  0 if top, 1 if bottom

*/ -}}

{{$X := index $ 0 -}}
{{$B := index $ 1 -}}

<nav class="nav">
 <p class="nav">
  {{- range $i, $v := emptylist $X.D.Available -}}
   {{- $ui := add_i $i 1 -}}
   [
   {{- if eq $i $X.D.Number -}}
    <strong class="nav"><a class="nav" href="">{{$ui}}</a></strong>
   {{- else -}}
    <a class="nav" href="./{{if ne $i 0}}{{$ui}}{{end}}">{{$ui}}</a>
   {{- end -}}
   ]
  {{- end -}}
  [<a href="./catalog">Catalog</a>]
  {{- /**/ -}}
 </p>
</nav>
