<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8" />
<meta
 name="viewport"
 content="width=device-width, initial-scale=1.0"
/>
<title>{% page "title" %}</title>
<link
 rel="stylesheet"
 type="text/css"
 href="{% static "site.css" %}"
/>
<script
 type="text/javascript"
 src="{% static "site.js" %}"
 async=""
></script>
</head>

<body>
{% page "body" -%}
</body>

</html>
