<!DOCTYPE html>
<html>

<head>

<meta charset="UTF-8" />

<meta
 name="viewport"
 content="width=device-width, initial-scale=1.0"
/>

{% page "meta" -%}

<link
 rel="stylesheet"
 type="text/css"
 href="{% static "blue.css" %}"
 title="Default / Selected"
/>
<link
 rel="alternate stylesheet"
 type="text/css"
 href="{% static "blue.css" %}"
 title="Blue"
/>
<link
 rel="alternate stylesheet"
 type="text/css"
 href="{% static "dark.css" %}"
 title="Dark"
/>
<link
 rel="alternate stylesheet"
 type="text/css"
 href="{% static "green_neko1.css" %}"
 title="Green Neko 1"
/>

<script
 type="text/javascript"
 src="{% static "site.js" %}"
 async=""
></script>
</head>

<body>
{% page "body" -%}
</body>

</html>
