<!DOCTYPE html>
<html lang="en" xml:lang="en">
 <head>
  <meta
   name="viewport"
   content="width=device-width, initial-scale=1.0"
  />

  <title>{{if $.N.Name}}{{html $.N.Name}} {{end}}board list</title>

  <link
   rel="stylesheet"
   type="text/css"
   href="{{$.N.Root}}/_static/style.css"
  />
 </head>
 <body>
  <table border="1">
   <thead>
    <tr>
     <th>Name</th>
     <th>Description</th>
     <th>Tags</th>
    </tr>
   </thead>
   <tbody>
    {{range $.D.Boards -}}
     <tr>
      <td><a href="{{$.N.Root}}/{{escboard .Name}}/">{{html .Name}}</a></td>
      <td>{{html .Description}}</td>
      <td>{{range $i, $v := .Tags}}{{if (ne $i 0)}} {{end}}{{html $v}}{{end}}</td>
     </tr>
    {{end -}}
   </tbody>
  </table>
 </body>
</html>
