{{/*

OP

arguments list:
	*root_data
	*IBCommonThread
	*IBPostInfo
	FullURLs
	MaxLines
	MaxCharsPerLine

*/ -}}

{{$X := index $ 0 -}}
{{$T := index $ 1 -}}
{{$P := index $ 2 -}}
{{$fullURLs := index $ 3 -}}
{{$maxLines := index $ 4 -}}
{{$maxCPL   := index $ 5 -}}

{{with $P -}}
 <div class="opinfo" id="{{$P.ID}}">
  {{- /**/ -}}
  <input type="checkbox" class="poi_activator" title="Properties" />
  {{- if $P.Subject -}}
   <span class="subject" dir="auto">{{html $P.Subject}}</span>&lrm;
  {{- end}}

  <span class="name" dir="auto">{{html (anonname $P.Name)}}</span>&lrm;

  {{- if $P.Trip}}<span class="trip">{{html $P.Trip}}</span>{{end}}

  <time
   class="pdate"
   datetime="{{dateISO $P.Date}}"
   title="{{dateAlt $P.Date}}"
  >{{date $P.Date}}</time>

  <a
   href="{{if $fullURLs}}thread/{{$T.ID}}{{end}}#{{$P.ID}}"
  >No.</a> <span title="{{$P.ID}}">{{shortid $P.ID}}</span>

  {{- if $fullURLs}} <span>[<a href="thread/{{$T.ID}}">Reply</a>]</span>{{end -}}

  {{- range $P.BackReferences}}
   <a
    class="bref"
    {{if .Post -}}
    title="{{if .Board}}/{{html .Board}}/{{end}}{{.Post}}"
    {{end -}}
    href="
    {{- if .Board -}}
     {{$X.N.Root}}/{{escboard .Board}}/
    {{- end -}}
    {{if .Thread -}}
     {{if (not .Board) -}}
      {{$X.N.Root}}/{{escboard $X.Board}}/
     {{- end -}}
     thread/{{.Thread}}
    {{- end -}}
    {{- if .Post -}}
     {{- if (and (not .Thread) $fullURLs) -}}
      thread/{{$T.ID}}
     {{- end -}}
     #{{.Post}}
    {{- end -}}
    "
   >&gt;&gt;{{if .Board}}/{{html .Board}}/{{end}}{{shortid .Post}}</a>
  {{- end -}}
  <div
   class="poi_area"
  ><strong>Message-ID:</strong> &lt;{{html $P.MsgID}}&gt;
  {{- range $h, $v := $P.Headers -}}
   <strong>{{if $v.H}}{{html $v.H}}{{else}}{{html $h}}{{end}}:</strong> {{html $v.V -}}
  {{- end -}}
  <hr class="poi_hr" /></div>
  {{- /**/ -}}
 </div>

 {{- range $P.Files}}
  <div class="opimg">
   <p class="imginfo">File:
    <a
     class="filelink"
     title="{{html .Original}}"
     href="{{$X.N.FRoot}}/_src/{{urlpath .ID}}/{{urlpath .Original}}"
    >
     {{- html (truncatefn .Original 24) -}}
    </a>

    {{/* TODO: should print more info about file */ -}}
    (<span title="{{.Size}} bytes">{{filesize .Size}}</span>)
   </p>

   <a
    class="imglink"
    href="{{$X.N.FRoot}}/_src/{{urlpath .ID}}"
    target="_blank"
    rel="noopener"
   >
    {{- if .Thumb.ID -}}
     <img
      class="imgthumb"
      src="{{$X.N.FRoot}}/_thm/{{urlpath .Thumb.ID}}"
      {{- if .Thumb.Width}} width="{{.Thumb.Width}}"{{end}}
      {{- if .Thumb.Height}} height="{{.Thumb.Height}}"{{end}}
     />
    {{- else if .Thumb.Alt -}}
     <img
      class="imgthumb"
      src="{{$X.N.Root}}/_static/{{urlpath .Thumb.Alt}}"
      {{- if .Thumb.Width}} width="{{.Thumb.Width}}"{{end}}
      {{- if .Thumb.Height}} height="{{.Thumb.Height}}"{{end}}
     />
    {{- else -}}
     {{.ID}}
    {{- end -}}
   </a>
  </div>
 {{- end}}

 {{- if gt (len $P.Files) 1}}<div style="clear:both"></div>{{end}}

 {{- fmtmsg $X.R $X.N $X.D.Board $T $P $fullURLs $maxLines $maxCPL -}}
{{end -}}
