<!DOCTYPE html>
<html lang="en" xml:lang="en">
 <head>
  <meta
   name="viewport"
   content="width=device-width, initial-scale=1.0"
  />

  <title>Overboard - Page {{add_u32 $.D.Number 1}}</title>

  <link
   rel="stylesheet"
   type="text/css"
   href="{{$.N.Root}}/_static/style.css"
  />
 </head>
 <body>
  <!-- xxx: node name? board list? -->

  <hr />
  {{template "_thread_list_nav" list $ 0}}
  <hr />

  {{range $T := $.D.Threads -}}
   <div><a href="{{$.N.Root}}/{{escboard $T.BoardName}}/">/{{html $T.BoardName}}/</a></div>
   {{template "op" list $ $T.BoardName (threadptr $T.IBCommonThread) (postptr $T.OP) 1 4 0 -}}
   {{if $T.SkippedReplies -}}
    <div><strong class="t_skipped">{{$T.SkippedReplies}}
    {{if ne $T.SkippedReplies 1}}replies{{else}}reply{{end}}
    and
    {{$T.SkippedFiles}}
    attachment{{if ne $T.SkippedFiles 1}}s{{end}}
    not shown.</strong></div>
   {{- end -}}
   {{range $i, $v := $T.Replies -}}
    {{template "reply" list $ $T.BoardName (threadptr $T.IBCommonThread) (postptr $v) 1 4 0 -}}
   {{end -}}
   <div style="clear:both"></div>
   <hr />
  {{end -}}

  {{template "_thread_list_nav" list $ 1}}

 </body>
</html>
