  <table class="blist">
   <thead class="blist">
    <tr>
     <th>Name</th>
     <th>Posts</th>
     <th>Threads</th>
     <th>Description</th>
     <th>Tags</th>
    </tr>
   </thead>
   <tbody class="blist">
    {{range $.D.Boards -}}
     <tr class="blist">
      <td><a href="{{$.N.Root}}/{{escboard .Name}}/">{{html .Name}}</a></td>
      <td>{{.NumPosts}}</td>
      <td>{{.NumThreads}}</td>
      <td>{{html .Description}}</td>
      <td>{{range $i, $v := .Tags}}{{if (ne $i 0)}} {{end}}{{html $v}}{{end}}</td>
     </tr>
    {{end -}}
   </tbody>
  </table>
  <hr />
