{{/*

OP

arguments list:
	*root_data
	boardname
	*IBCommonThread
	*IBPostInfo
	FullURLs
	MaxLines
	MaxCharsPerLine

*/ -}}

{{$X := index $ 0 -}}
{{$B := index $ 1 -}}
{{$T := index $ 2 -}}
{{$P := index $ 3 -}}
{{$fullURLs := index $ 4 -}}
{{$maxLines := index $ 5 -}}
{{$maxCPL   := index $ 6 -}}

{{with $P -}}
 <div class="opinfo" id="{{$P.ID}}">
  {{- /**/ -}}
  <input type="checkbox" class="poi_activator" title="Properties" />
  {{- if $P.Subject -}}
   <span class="subject" dir="auto">{{html $P.Subject}}</span>&lrm;
  {{- end}}

  {{if $P.Sage -}}
   <a class="name" dir="auto" href="mailto:sage">{{html (anonname $P.Name)}}</a>&lrm;
  {{- else -}}
   <span class="name" dir="auto">{{html (anonname $P.Name)}}</span>&lrm;
  {{- end -}}

  {{- if $P.PubKey}} <span class="unitrip" title="{{$P.Trip}}">{{unitrip $P.Trip 12}}</span>{{end}}

  <time
   class="pdate"
   datetime="{{dateISO $P.Date}}"
   title="{{dateAlt $P.Date}}"
  >{{date $P.Date}}</time>

  <span class="pnum"><a
   class="pnum_anchor"
   title="Link to this post"
   href="{{if $fullURLs}}{{$X.N.Root}}/{{escboard $B}}/thread/{{$T.ID}}{{end}}#{{$P.ID}}"
  >No.</a> <a
   class="pnum_ref"
   title="{{$P.ID}}">{{shortid $P.ID}}</a></span>

  {{- if $fullURLs}} <span class="replylink">[<a class="replylink" href="{{$X.N.Root}}/{{escboard $B}}/thread/{{$T.ID}}">Reply</a>]</span>{{end -}}

  {{- range $P.BackReferences}}
   <a
    class="bref"
    {{if .Post -}}
    title="{{if .Board}}/{{html .Board}}/{{end}}{{.Post}}"
    {{end -}}
    href="
    {{- if .Board -}}
     {{$X.N.Root}}/{{escboard .Board}}/
    {{- end -}}
    {{if .Thread -}}
     {{if (not .Board) -}}
      {{$X.N.Root}}/{{escboard $B}}/
     {{- end -}}
     thread/{{.Thread}}
    {{- end -}}
    {{- if .Post -}}
     {{- if $fullURLs -}}
      {{- if (not .Thread) -}}
       {{- if (not .Board) -}}
        {{$X.N.Root}}/{{escboard $B}}/
       {{- end -}}
       thread/{{$T.ID}}
      {{- end -}}
     {{- end -}}
     #{{.Post}}
    {{- end -}}
    "
   >&gt;&gt;{{if .Board}}/{{html .Board}}/{{end}}{{shortid .Post}}</a>
  {{- end -}}
  <div
   class="poi_area"
  ><strong>Message-ID:</strong> &lt;{{html $P.MsgID}}&gt;
  {{- range $h, $l := $P.Headers -}}
   {{- range $v := $l -}}
    <br /><strong>{{if $v.O}}{{html $v.O}}{{else}}{{html $h}}{{end}}:</strong> {{html $v.V -}}
   {{- end -}}
  {{- end -}}
  <hr class="poi_hr" /></div>
  {{- /**/ -}}
 </div>

 {{- range $P.Files}}
  <div class="opimg">
   <p class="imginfo">File:
    <a
     class="filelink"
     title="{{html .Original}}"
     href="{% (env).FRoot %}/_src/{{urlpath .ID}}/{{urlpath .Original}}"
     target="_blank"
     rel="noopener"
    >
     {{- html (truncatefn .Original 24) -}}
    </a> {{/**/ -}}

    ({{fileinfo .}}) {{- /**/ -}}
   </p>

   <a
    class="imglink"
    href="{% (env).FRoot %}/_src/{{urlpath .ID}}"
    target="_blank"
    rel="noopener"
    {{filedata . -}}
   >
    {{- if .Thumb.ID -}}
     <img
      class="imgthumb"
      src="{% (env).FRoot %}/_thm/{{urlpath .Thumb.ID}}"
      alt="{{html .ID}}"
      {{- if .Thumb.Width}} width="{{.Thumb.Width}}"{{end}}
      {{- if .Thumb.Height}} height="{{.Thumb.Height}}"{{end}}
     />
    {{- else if .Thumb.Alt -}}
     <img
      class="imgthumb"
      src="{% (env).Root %}/_static/{{urlpath .Thumb.Alt}}"
      alt="{{html .ID}}"
      {{- if .Thumb.Width}} width="{{.Thumb.Width}}"{{end}}
      {{- if .Thumb.Height}} height="{{.Thumb.Height}}"{{end}}
     />
    {{- else -}}
     {{html .ID}}
    {{- end -}}
   </a>
  </div>
 {{- end}}

 {{- if gt (len $P.Files) 1}}<div style="clear:both"></div>{{end}}

 {{- fmtmsg $X.R $X.N $B $T $P $fullURLs $maxLines $maxCPL -}}
{{end -}}
