<!DOCTYPE html>
<html lang="en" xml:lang="en">
 <head>
  <meta
   name="viewport"
   content="width=device-width, initial-scale=1.0"
  />

  <title>/{{html $.D.Board.Name}}/ #{{html $.D.ID}}</title>

  <link
   rel="stylesheet"
   type="text/css"
   href="{{$.N.Root}}/_static/style.css"
  />
 </head>
 <body>
  {{- /* xxx: node name? board list? */}}
  <hr />
  {{- template "_boardinfo" $ -}}
  <hr />
  {{template "_thread_nav" list $ 0}}
  <hr />

  {{- template "op" list $ $.D.Board.Name (threadptr $.D.IBCommonThread) (postptr $.D.OP) 0 0 0}}

  {{- range $i, $v := $.D.Replies}}
   {{- template "reply" list $ $.D.Board.Name (threadptr $.D.IBCommonThread) (postptr $v) 0 0 0}}
  {{- end}}
  <div style="clear:both"></div>

  <div id="bottom"></div>
  <hr />
  {{template "_thread_nav" list $ 1}}
  <hr />

  <p><h1>New reply</h1></p>
  {{- template "_postform" map "root" $ "board" $.D.Board.Name "thread" $.D.ID "isreply" 1 -}}

  <hr />

 </body>
</html>
