{{/*

navigation (top and bottom) of thread_catalog

arguments list:
  root
  0 if top, 1 if bottom

*/ -}}

{{$X := index $ 0 -}}
{{$B := index $ 1 -}}

<nav class="nav">
 <div class="nav">
  [<a href="./">Return</a>][<a href="">Refresh</a>]
 </div>
</nav>
