{{/*

args map:
	"root" - root
	"board" - board
	"thread" - thread (optional)
	"isreply" - whether its reply

*/ -}}

{{$X := $.root -}}
{{$B := $.board -}}
{{$T := $.thread -}}
{{$R := $.isreply -}}


<form
 action="{{$X.N.PRoot}}/_post"
 method="POST"
 enctype="multipart/form-data"
 accept-charset="UTF-8"
>
 <input name="board" type="hidden" value="{{$B}}" />
 {{if $T -}}
 <input name="thread" type="hidden" value="{{$T}}" />
 {{end -}}

 <table class="pf_body" border="1">
  <tr class="pf_row">
   <th class="pf_label"><label for="name">Name</label></th>
   <td class="pf_input"><input
    name="name"
    id="name"
    type="text"
    placeholder="Anonymous"
   /></td>
  </tr>
  {{- if $R}}
  <tr class="pf_row">
   <th class="pf_label"><label for="options">Options</label></th>
   <td class="pf_input"><input
    name="options"
    id="options"
    type="text"
   /></td>
  </tr>
  {{- else}}
  <tr class="pf_row">
   <th class="pf_label"><label for="title">Subject</label></th>
   <td class="pf_input"><input
    name="title"
    id="title"
    type="text"
   /></td>
  </tr>
  {{- end}}
  <tr class="pf_row">
   <th class="pf_label"><label for="message">Comment</label></th>
   <td class="pf_input"><textarea
    name="message"
    id="message"
    rows="6"
   ></textarea></td>
  </tr>
  <tr class="pf_row">
   <th class="pf_label"><label for="file">File(s)</label></th>
   <td class="pf_input">
    {{- range $i, $v := emptylist 5 -}}
     {{if ne $i 0 -}}
     <div class="morefiles">
     {{end -}}
     <input
      type="file"
      name="file{{if ne $i 0}}{{add_i $i 1}}{{end}}"
      {{if eq $i 0 -}}
      id="file"
      {{end -}}
      multiple="multiple"
     />
     {{if eq $i 0 -}}
      <input
       type="checkbox"
       id="showmorefiles"
       class="showmorefiles"
      /><label
       for="showmorefiles"
       class="showmorefiles"
      >More</label>
     {{else -}}
     </div>
     {{end -}}
    {{- end -}}
   </td>
  </tr>
{% captcha -%}
  <tr class="pf_row">
   <th class="pf_label"></th>
   <td class="pf_input"><div
    style="text-align: right"
   ><input
    type="submit"
    value="Post"
   /></div></td>
  </tr>
 </table>
</form>
