  <!-- xxx: node name? board list? -->
  <hr />

  <!-- XXX: "Overboard"? -->

  {% invoke "thread_catalog_nav" 0 %}

  <hr />

  <div class="cat_contain">
  {{- range $.D.Threads -}}
   <div class="cat_div">
    <div><a href="{% (env).Root %}/{{escboard .BoardName}}/">/{{html .BoardName}}/</a></div>
    <a href="{% (env).Root %}/{{escboard .BoardName}}/thread/{{.ID}}">
     {{- if .Thumb.ID -}}
      <img
       class="cat_img"
       src="{% (env).FRoot %}/_thm/{{urlpath .Thumb.ID}}"
       {{- if .Thumb.Width}}
       width="{{.Thumb.Width}}"
       {{- end}}
       {{- if .Thumb.Height}}
       height="{{.Thumb.Height}}"
       {{- end}}
       alt="{{html .Thumb.ID}}"
      />
     {{- else -}}
      <img
       class="cat_img"
       src="{% (env).Root %}/_static/{{urlpath .Thumb.Alt}}"
       {{- if .Thumb.Width}}
       width="{{.Thumb.Width}}"
       {{- end}}
       {{- if .Thumb.Height}}
       height="{{.Thumb.Height}}"
       {{- end}}
       alt="{{html .Thumb.Alt}}"
      />
     {{- end -}}
    </a>
    <br />
    <span title="Replies">R: {{.TotalReplies}}</span>
    <span title="Attachments">A: {{.TotalFiles}}</span><br />
    {{- if .Subject -}}
     <b><span class="cat_subject" dir="auto">{{html .Subject}}</span>&lrm;{{if .Message}}: {{end}}</b>
    {{- end -}}
    {{- fmtmsgcat $.R $.N .IBThreadCatalogThread -}}
   </div>
  {{- end -}}
  </div>

  <div style="clear: both;"></div>

  <hr />

  {% invoke "thread_catalog_nav" 1 %}

  <hr />
