  {{- /* xxx: node name? board list? */}}
  <hr />
  {%- invoke "board_info" -%}
  <hr />
  {% invoke "thread_nav" 0 %}
  <hr />

  {{- template "_op" list $ $.D.Board.Name (threadptr $.D.IBCommonThread) (postptr $.D.OP) 0 0 0}}

  {{- range $i, $v := $.D.Replies}}
   {{- template "_reply" list $ $.D.Board.Name (threadptr $.D.IBCommonThread) (postptr $v) 0 0 0}}
  {{- end}}
  <div style="clear:both"></div>

  <div id="bottom"></div>
  <hr />
  {% invoke "thread_nav" 1 %}
  <hr />

  <p><h1>New reply</h1></p>
  {{- template "_postform" map "root" $ "board" $.D.Board.Name "thread" $.D.ID "isreply" 1 -}}

  <hr />
