{% /*

navigation (top and bottom) of thread_catalog

argument: 0 if top, 1 if bottom

*/ -%}

<nav class="nav">
 <div class="nav">
  [<a href="./">Return</a>]
  [<a href="" class="refresh">Refresh</a>]
 </div>
</nav>
