<link
 rel="stylesheet"
 type="text/css"
 href="{% static "blue.css" %}"
 id="theme"
/>
<link
 rel="stylesheet"
 type="text/css"
 href="{% static "blue.css" %}"
 data-theme="Blue"
 media="none"
/>
<link
 rel="stylesheet"
 type="text/css"
 href="{% static "dark.css" %}"
 data-theme="Dark"
 media="none"
/>
<link
 rel="stylesheet"
 type="text/css"
 href="{% static "green_neko1.css" %}"
 data-theme="Green Neko 1"
 media="none"
/>
<link
 rel="stylesheet"
 type="text/css"
 href="{% static "green_neko2.css" %}"
 data-theme="Green Neko 2"
 media="none"
/>
