{% /*

navigation (top and bottom) of thread

argument: 0 if top, 1 if bottom

*/ -%}

<nav class="nav">
 <div class="nav"> {%- /**/ -%}
  [<a href="../">Return</a>]
  [<a href="../catalog">Catalog</a>]
  {% if eq $ 1 %}[<a href="" class="update">Update</a>]{% else %}[<a href="#bottom" class="bottom">Bottom</a>]{% end %}
  <div class="thread_stats">
   {{- with $.D.ThreadStats -}}
    <span title="Replies">R: {{.NumReplies}}</span> /
    <span title="Attachments">A: {{.NumFiles}}</span> /
    <span title="Page">P: {{add_u32 .PageNum 1}}</span>
   {{- end -}}
  </div>
  <div style="clear: both;"></div>
 </div>
</nav>
