<!DOCTYPE html>
<html>
 <head>
  <title>/{{html $.D.Board.Name}}/ #{{html $.D.ID}}</title>
  <link rel="stylesheet" type="text/css" href="{{$.N.Root}}/_static/style.css" />
 </head>
 <body>
  {{- /* xxx: node name? board list? */}}
  <hr />

  <h1><p style="text-align: center;">/{{html $.D.Board.Name}}/ - {{html $.D.Board.Description}}</p></h1>
  <p style="text-align: center;">{{html $.D.Board.Info}}</p>

  <hr />

  {{- template "op" list $ (threadptr $.D.IBCommonThread) (postptr $.D.OP) 0 0}}

  {{- range $.D.Replies}}
   {{- template "reply" list $ (threadptr $.D.IBCommonThread) (postptr .) 0 0}}
  {{- end}}

  <hr />

 </body>
</html>
