<!DOCTYPE html>
 <html>
  <head>
   <title>/{{html $.D.Board.Name}}/ - {{html $.D.Board.Description}} - Page {{$.D.Number}}</title>
   <link rel="stylesheet" type="text/css" href="{{$.N.Root}}/_static/style.css" />
  </head>
  <body>
   <!-- xxx: node name? board list? -->

   <hr />

   <h1><p style="text-align: center;">/{{html $.D.Board.Name}}/ - {{html $.D.Board.Description}}</p></h1>
   <p style="text-align: center;">{{html $.D.Board.Info}}</p>

   <hr />

   {{range $T := $.D.Threads -}}
    {{template "op" list $ (threadptr $T.IBCommonThread) (postptr $T.OP) 4 0 -}}

    {{range $T.Replies -}}
     {{template "reply" list $ (threadptr $T.IBCommonThread) (postptr .) 4 0 -}}
    {{end -}}
   {{end -}}

  <hr />

 </body>
</html>
