<!DOCTYPE html>
<html>
 <head>
  <title>/{{html $.D.Board.Name}}/ #{{html $.D.ID}}</title>
  <link rel="stylesheet" type="text/css" href="{{$.N.Root}}/_static/style.css" />
 </head>
 <body>
  {{- /* xxx: node name? board list? */}}
  <hr />
  {{- template "_boardinfo" $ -}}
  <hr />
  {{template "_thread_nav" list $ 0}}
  <hr />

  {{- template "op" list $ (threadptr $.D.IBCommonThread) (postptr $.D.OP) 0 0 0}}

  {{- range $i, $v := $.D.Replies}}
   {{- template "reply" list $ (threadptr $.D.IBCommonThread) (postptr $v) 0 0 0}}
  {{- end}}
  <div style="clear:both"></div>

  <hr />
  {{template "_thread_nav" list $ 1}}
  <hr />

  <p><h1>New reply</h1></p>
  {{- template "_postform" map "root" $ "board" $.D.Board.Name "thread" $.D.ID -}}

  <hr />

 </body>
</html>
