<!DOCTYPE html>
<html lang="en" xml:lang="en">
 <head>
  <meta
   name="viewport"
   content="width=device-width, initial-scale=1.0"
  />

  <title>/{{html $.D.Board.Name}}/{{if $.D.Board.Description}} - {{html $.D.Board.Description}}{{end}} - Page {{add_u32 $.D.Number 1}}</title>

  <link
   rel="stylesheet"
   type="text/css"
   href="{{$.N.Root}}/_static/style.css"
  />
 </head>
 <body>
  <!-- xxx: node name? board list? -->

  <hr />
  {{- template "_boardinfo" $ -}}

  <p><h1>New thread</h1></p>
  {{- template "_postform" map "root" $ "board" $.D.Board.Name "isreply" 1  -}}
  <hr />
  {{template "_thread_list_nav" list $ 0}}
  <hr />

  {{range $T := $.D.Threads -}}
   {{template "op" list $ $.D.Board.Name (threadptr $T.IBCommonThread) (postptr $T.OP) 1 4 0 -}}
   {{if $T.SkippedReplies -}}
    <div><strong class="t_skipped">{{$T.SkippedReplies}}
    {{if ne $T.SkippedReplies 1}}replies{{else}}reply{{end}}
    and
    {{$T.SkippedFiles}}
    attachment{{if ne $T.SkippedFiles 1}}s{{end}}
    not shown.</strong></div>
   {{- end -}}
   {{range $i, $v := $T.Replies -}}
    {{template "reply" list $ $.D.Board.Name (threadptr $T.IBCommonThread) (postptr $v) 1 4 0 -}}
   {{end -}}
   <div style="clear:both"></div>
   <hr />
  {{end -}}

  {{template "_thread_list_nav" list $ 1}}

 </body>
</html>
