<!DOCTYPE html>
<html>
<head>
<title>/{{html $.D.Board.Name}}/ #{{html $.D.ID}}</title>
<link rel="stylesheet" type="text/css" href="{{$.N.Root}}/_static/style.css" />
</head>
<body>
{{- /* xxx: node name? board list? */}}
<hr />
<h1><p style="text-align: center;">/{{html $.D.Board.Name}}/ - {{html $.D.Board.Description}}</p></h1>
<p style="text-align: center;">{{html $.D.Board.Info}}</p>
<hr />
{{- with $.D.OP}}
<p class="opinfo" id="p{{.ID}}">
{{- if .Subject}}<span class="subject">{{html .Subject}}</span>{{end}}
<span class="name">{{html .Name}}</span>
{{- if .Trip}}<span class="trip">{{html .Trip}}</span>{{end}}
<time class="pdate" datetime="{{date .Date}}">{{date .Date}}</time>
<a href="#p{{.ID}}">No.</a> {{.ID}}
{{- range .BackReferences}} <a class="opref" href="#p{{.}}">&gt;&gt;{{.}}</a>{{end}}
</p>
{{- range .Files}}
<div class="opimg">
<p class="imginfo">
File: <a class="filelink" title="{{html .Original}}" href="{{$.N.FRoot}}/_src/{{urlpath .ID}}/{{urlpath .Original}}">{{html (truncatefn .Original 24)}}</a>
(<span title="{{.Size}} bytes">{{filesize .Size}}</span>{{/* TODO: WxH for images */}})
</p>
<a class="imglink" href="{{$.N.FRoot}}/_src/{{urlpath .ID}}">
	{{- if .Thumb.ID -}}
		<img class="imgthumb" src="{{$.N.FRoot}}/_thm/{{urlpath .Thumb.ID}}" width="{{.Thumb.Width}}" height="{{.Thumb.Height}}" />
	{{- else -}}
		<img class="imgthumb" src="{{$.N.Root}}/_static/{{urlpath .Thumb.Alt}}" width="{{.Thumb.Width}}" height="{{.Thumb.Height}}" />
	{{- end -}}
</a>
</div>
{{- end}}
{{- if gt (len .Files) 1}}<div style="clear:both"></div>{{end}}
{{- fmtmsg $.R $.N $.D.Board $.D.IBCommonThread . 4 0}}
{{- end}}
{{- range $.D.Replies}}
<div class="reply">
<p class="rinfo" id="p{{.ID}}">
{{- if .Subject}}<span class="subject">{{html .Subject}}</span>{{end}}
<span class="name">{{html .Name}}</span>
{{- if .Trip}}<span class="trip">{{html .Trip}}</span>{{end}}
<time class="pdate" datetime="{{date .Date}}">{{date .Date}}</time>
<a href="#p{{.ID}}">No.</a> {{.ID}}
{{- range .BackReferences}} <a class="opref" href="#p{{.}}">&gt;&gt;{{.}}</a>{{end}}
</p>
{{- range .Files}}
<div class="rimg">
<p class="imginfo">
File: <a class="filelink" title="{{html .Original}}" href="{{$.N.FRoot}}/_src/{{urlpath .ID}}/{{urlpath .Original}}">{{html (truncatefn .Original 24)}}</a>
(<span title="{{.Size}} bytes">{{filesize .Size}}</span>{{/* TODO: WxH for images */}})
</p>
<a class="imglink" href="{{$.N.FRoot}}/_src/{{urlpath .ID}}">
	{{- if .Thumb.ID -}}
		<img class="imgthumb" src="{{$.N.FRoot}}/_thm/{{urlpath .Thumb.ID}}" width="{{.Thumb.Width}}" height="{{.Thumb.Height}}" />
	{{- else -}}
		<img class="imgthumb" src="{{$.N.Root}}/_static/{{urlpath .Thumb.Alt}}" width="{{.Thumb.Width}}" height="{{.Thumb.Height}}" />
	{{- end -}}
</a>
</div>
{{- end}}
{{- if gt (len .Files) 1}}<div style="clear:both"></div>{{end}}
{{- fmtmsg $.R $.N $.D.Board $.D.IBCommonThread . 0 0}}
<div style="clear:both"></div>
</div>
<div style="clear:both"></div>
{{- end}}
</body>
</html>
